<html>
    <head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    <script src="static/plotly_min.js"></script>
    </head>
    <body>
    <div class="wrapper">
        <div id="chart"></div>
        <script>
            Plotly.d3.csv('static/data.csv', function(err,rows) {
                console.log(rows);
                var data = [];
                for(let i=0;i<rows.length;i++) {
                    data.push(rows.map(row => row [i]));
                }
                console.log(data);
                Plotly.newPlot('chart',[{
                z: data,
                type: 'surface'
            }]);
                
            });
        </script>
    </div>
    </body>
</html>