<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geo 3D Mapper</title>
    <link rel="stylesheet" type="text/css" href="static/styles/main.css">
</head>
<body>
    {% block body %}

    {% endblock %}
</body>
</html>

{% block list %}
    <datalist id="colormaps">
        <option value="Earth">Earth</option>
        <option value="Portland">Portland</option>
        <option value="Rainbow">Rainbow</option>
        <option value="Picnic">Picnic</option>
        <option value="Viridis">Viridis</option>
        <option value="Cividis">Cividis</option>
        <option value="Blackbody">Blackbody</option>
        <option value="Jet">Jet</option>
        <option value="YlOrRd">YlOrRd</option>
    </datalist>
{% endblock %}