{% extends "main.html" %}

{% block body %}
<h1 align="center" style="font-size: 80px; font-family: myFirstFont; margin-top: 0px">
    Welcome to the 3D GeoLandscaper
</h1>
    <form action="/map_route" method="post">
        <div>
            <input name = "lat1" style="margin-top: 0px; width: 400px; height: 40px; font-size: 36px" placeholder="Type first latitude" required>
            <input name = "lon1" style="margin-top: 10px; width: 400px; height: 40px; font-size: 36px" placeholder="Type first longitude" required>
            <input name = "lat2" style="margin-top: 50px; width: 400px; height: 40px; font-size: 36px" placeholder="Type second latitude" required>
            <input name = "lon2" style="margin-top: 10px; width: 400px; height: 40px; font-size: 36px" placeholder="Type second longitude" required>
            <input name="color" list="colormaps" placeholder="Choose the colormap" autocomplete="off" required style="margin-top: 40px; font-size: 20px; width: 270px; height: 30px">
            {% block list %}
                {{ super() }}
            {% endblock %}
            <button style="margin-top: 30px; ; width: 170px; height: 45px">GeoMake</button>
        </div>
    </form>
<div>
    <a href="/choosing_route" style="margin-top: 40px; font-family: myFirstFont; text-decoration: none; color: black; font-size: 45px"><b>BACK</b></a>
</div>
{% endblock %}