<html>
    <head>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <script src="static/plotly_min.js"></script>
        <style>
            body{
                background-image: url("static/background.jpeg");
                background-size: 100%;
            }
            @font-face {
                font-family: myFirstFont;
                src: url("static/Katrine.ttf");
            }
        </style>
    </head>
    <body>
    <h1 align="center" style="font-size: 60px;font-family: myFirstFont">Landscape Map</h1>
    <div class="wrapper" style="margin-top: 0px; margin-left: 24%; margin-right: 30%">
        <div id="chart"></div>
    </div>
    <div style="margin-top: 14px">
        <a href="/" style="display:block; text-align:center; font-size: 40px; color: black; font-family: myFirstFont; text-decoration: none"><b>BACK</b></a>
    </div>
    <script>
        let data_all = ({{ path_map }})
        data = data_all[0];
        path = data_all[1];

        let data_x = data[0];
        let data_y = data[1];
        let data_z = data[2];

        let path_x = path[0];
        let path_y = path[1];
        let path_z = path[2];


        data = [{
                x: data_x,
                y: data_y,
                z: data_z,
                type: 'surface',
                colorbar: {
                    x: 1
                }
        },
            {
                x: path_x,
                y: path_y,
                z: path_z,
                type: "scatter3d",
                mode: "lines",
                line: {
                    width: 10,
                    color: "black"
                }
            }];

        let layout = {
            autosize: false,
            width: 1000,
            height: 530,
            margin: {
                    b: 0,
                    t: 30,
                    l: 0,
                    r: 0,
            },
            scene: {
                aspectmode: "data"
            }
        };

        Plotly.plot('chart', data, layout);
    </script>
    </body>
</html>