<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Geo 3D Mapper</title>
    <style>
        @font-face {
          font-family: myFirstFont;
          src: url("static/Katrine.ttf");
        }
        body{
            background-image: url("static/background.jpeg");
            background-size: 100%;
        }
        div {
            display: flex;
            flex-flow: column wrap;
            align-items: center;
            padding-top: 0px;
        }

    </style>
</head>
<body>
<h1 align="center" style="font-size: 80px; font-family: myFirstFont; margin-top: 40px">
    Welcome to the 3D GeoLandscaper
</h1>
    <form action="/map_route" method="post">
        <div>
            <input name = "lat1" style="margin-top: 20px; width: 400px; height: 40px">
            <input name = "lon1" style="margin-top: 20px; width: 400px; height: 40px">
            <input name = "lat2" style="margin-top: 70px; width: 400px; height: 40px">
            <input name = "lon2" style="margin-top: 20px; width: 400px; height: 40px">
            <button style="margin-top: 30px; ; width: 130px; height: 40px">GeoMake</button>
        </div>
    </form>
<div>
    <a href="/" style="margin-top: 40px; font-family: myFirstFont; text-decoration: none; color: black; font-size: 45px"><b>BACK</b></a>
</div>
</body>
</html>